{% extends 'blog/base.html' %}
{% block content %} 
{% load crispy_forms_tags %}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <h3>Login</h3>
        <hr>
        <form action="{% url 'user_login' %}" method="post">
            {% csrf_token %}
             {{form|crispy}}
            <button type="submit" class="btn btn-danger">Login</button>
            <a href="" class="mx-2">Forget Password ? </a>
            <hr>
            <h6><span> Need an account ?</span>
            <a href="{% url 'register' %}" class="mx-2">Sign Up Now</a></h6>
        </form>
    </div>
    </div>
</div>
{% endblock %}
