{% extends 'blog/base.html' %}

{% block content %}
<div class="card mb-3 col-lg-9 col-md-6">
    <img src="{{post.image.url}}" class="rounded mx-auto d-block" alt="image">
    <div class="card-body">
      <h5 class="card-title">{{post.title}}</h5>
      <p class="card-text">{{post.content}}</p>
      <p class="card-text"><small class="text-muted">Last updated {{post.last_updated}}</small></p>
    </div>
  </div>
    <div class="col-lg-9 col-md-6">
    <a href="{% url 'update' post.id %}"><button class="btn btn-primary">Edit</button></a>
    <a href="{% url 'delete' post.id %}"><button class="btn btn-danger">Delete</button></a>
</div>
{% endblock content %}